html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btnp{
  border-radius: 20px;
  color: black
}

button{
    border-radius: 20px;
    background-color: white;
}

button:hover{
    background-color: lawngreen;
}

h3, button, p{
    font-family: Arial;
    margin-top: 10px;
}

.col-md-4 img {
    transition: transform 0.3s ease;
    cursor: pointer;
}

.zoomed {
    transform: scale(1.2);
}