@{
    ViewData["Title"] = "Karoti's Livraria";
}

<div class="carousel">
    <div class="carousel-track">
        <div class="carousel-slide">
            <img src="~/fotos/8619.jpeg" alt="Slide 1">
        </div>
        <div class="carousel-slide">
            <img src="~/fotos/por_do_sol.jpeg" alt="Slide 2">
        </div>
        <div class="carousel-slide">
            <img src="~/fotos/11-dicas-infaliveis-para-fotografia-de-paisagem-exemplos-surpreendentes-780x470.jpg" alt="Slide 3">
        </div>
    </div>
    <div class="carousel-buttons">
        <button class="carousel-button" id="prev">&#10094;</button>
        <button class="carousel-button" id="next">&#10095;</button>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome to Livraria Karoti</h1>
    <p>Learn about buying book's on karoti's livraria.</p>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 1" class="zoomable" id="image" width="70%">
                    <h3>Book Title 1</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $10.00</p>
                    <button class="btnp">Comprar Já</button>
                </div>
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 1" class="zoomable" id="image" width="70%">
                    <h3>Book Title 1</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $10.00</p>
                    <button class="btnp">Comprar Já</button>
                </div>
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 1" class="zoomable" id="image" width="70%">
                    <h3>Book Title 1</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $10.00</p>
                    <button class="btnp">Comprar Já</button>
                </div>
            </div>
        </div>
        <div class="modal" id="zoomModal">
            <img id="modalImage" src="" alt="Zoomed Image">
        </div>
    </section>
</div>