@{
    ViewData["Title"] = "Karoti's Livraria";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Livraria Karoti</h1>
    <p>Learn about buying book's on karoti's livraria.</p>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 1" class="img-fluid">
                    <h3>Book Title 1</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $10.00</p>
                    <button class="btnp">Comprar Já></button>
                </div>
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 2" class="img-fluid">
                    <h3>Book Title 2</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $15.00</p>
                    <button class="btnp">Comprar Já></button>
                </div>
                <div class="col-md-4">
                    <img src="~/fotos/images.jpg" alt="Book 3" class="img-fluid">
                    <h3>Book Title 3</h3>
                    <p>Author: Author Name</p>
                    <p>Price: $20.00</p>
                    <button class="btnp">Comprar Já></button>
                </div>
            </div>
        </div>
    </section>
</div>